@import './reset.css';

.nav-section {
  background-color: #fbfbfb;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.nav-section img {
  width: 12%;
  margin-left: 1.0rem;
  margin-right: 1rem;
}

.main-section {
  background-color: #fcd2c1;
  height: 100vh;
}

.main-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  margin-top: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #444444;
}

.main-card h1{
  font-size: 50px;
  margin-top: -1rem;
}

.main-card h2{
  font-size: 30px;
  margin-top: 0rem;
}

.main-card p{
  font-size: 16px;
  width: 88%;
  margin-top: 0.8rem;
  text-align: center;
}

.main-image {
  width: 70%;
  margin-left: 4.2rem;
  margin-top: 0.5rem;
}

#main-pack {
  font-size: 20px;
}

.main-div-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.main-button {
  width: 140px;
  height: 52px;
  object-fit: contain;
  border-radius: 15px;
  background-color: #444444;
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 20px;
}

.section {
  margin: 2.5rem 2rem;
  font-family: 'EB Garamond', serif;
}
.section-header{
  padding: 1rem 0;
  background-repeat: no-repeat;
  background-size:contain;
}
.section-one .section-header{
  background-image: url('/images/1.png');
}
.section-two .section-header{
  background-image: url('/images/2.png');
}
.section-three .section-header{
  background-image: url('/images/3.png');
}
.section-title{
  font-size:2.2rem;
  color: #5F5F5F;
}
.section-text{
  font-size:1.2rem;
  color: #444444;
}

.section-img-two{
  width: 100%;
}
.section-img-one{
  width: 50%;
  height: 50%;
}
.img-one-wrapper{
  display: flex;
  justify-content: center;
}
.container{
  background-color:#FBFBFB;
}
.section-text-wrapper{
  height: 28rem;
  background-image: url('images/cuchara.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.footer{
  height: 2rem;
  width: 100%;
  background-color: #FCD2C1;
}
