/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-section {
  background-color: #fbfbfb;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.nav-section img {
  width: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-section {
  background-color: #fcd2c1;
  height: auto;
  padding-bottom: 1rem;
}
.main-section .main-image {
  width: 70%;
  margin-left: 4.2rem;
  margin-top: 0.5rem;
}

.main-card {
  font-family: "EB Garamond", serif;
  margin: 0 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #444444;
}
.main-card h1 {
  font-size: 3rem;
  margin-top: -1rem;
}
.main-card h2 {
  font-size: 2rem;
  margin-top: 0rem;
}
.main-card p {
  font-size: 16px;
  margin-top: 0.8rem;
}
.main-card #main-pack {
  font-size: 20px;
  align-self: center;
}

.main-div-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-self: center;
}
.main-div-button .main-button {
  width: 140px;
  height: 52px;
  object-fit: contain;
  border-radius: 15px;
  background-color: #444444;
  font-family: "EB Garamond", serif;
  color: #fbfbfb;
  font-size: 20px;
}

@media screen and (min-width: 430px) {
  .main-article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-article .main-image {
    width: 30%;
    flex-grow: 1;
  }

  .main-card {
    width: 20%;
    flex-grow: 2;
  }
  .main-card h1 {
    display: none;
  }
  .main-card h2 {
    font-size: 3rem;
  }
  .main-card p {
    text-align: left;
  }
}
.section {
  margin: 2.5rem 2rem;
  font-family: "EB Garamond", serif;
}

@media screen and (min-width: 430px) {
  .section-container {
    display: flex;
    flex-direction: row;
  }
  .section-container .section {
    height: auto;
    flex-grow: 1;
  }
}
.section-header {
  padding: 1rem 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-one .section-header {
  background-image: url("/images/1.png");
}

.section-two .section-header {
  background-image: url("/images/2.png");
}

.section-three .section-header {
  background-image: url("/images/3.png");
}

.section-title {
  font-size: 2.2rem;
  color: #5F5F5F;
}

.section-text {
  font-size: 1.2rem;
  color: #444444;
}

.section-img-two {
  width: 100%;
}

.section-img-one {
  width: 50%;
  height: 50%;
}

.img-one-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #fbfbfb;
}

.section-text-wrapper {
  height: 28rem;
  background-image: url("/images/cuchara.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  height: 2rem;
  width: 100%;
  background-color: #fcd2c1;
}

/*# sourceMappingURL=style.css.map */
